@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
.head {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  text-align: center;
  overflow-x: scroll;
  background-color: #EEF9FC;
  padding: 0% 5%;
  width: 100%;
}

.headText {
  font-weight: bolder;
  font-size: larger;
  font-family: 'Baloo Da 2', cursive;
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  background-color: #EEF9FC;
  width: 100%;
}

.board{
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
    justify-content: space-between;
}

input{
    padding: 0 5px;
    height: 1.5rem;
    margin: 3% 0;
    border-radius: 1rem;
}

.msg{
    margin: 1% 5%;
}

.notification{
    border: 1px solid orange;
    border-radius: 4rem;
    padding: 0 0.7rem;
    background-color: orange;
}